 .u-section-1 {
  min-height: 1214px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1191px;
  margin: 0 auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 784px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 557px;
  background-image: linear-gradient(#55d055, #346d9c);
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 535px;
  width: 359px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  background-image: url("images/pexelsphoto3149942.jpeg");
  background-position: 50% 50%;
  min-height: 282px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 650px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 486px;
  margin-top: -4px;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(#d80089, #af68f3);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 358px;
  height: 458px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 932px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 572px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#f2f2f2, #404040);
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 15px 13px;
}

.u-section-1 .u-image-4 {
  width: 361px;
  height: 542px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    min-height: 966px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 27.99%;
    min-height: 751px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 100% 50%;
    min-height: 502px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 892px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    width: 344px;
    height: 516px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1680px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 1912px;
    margin-left: calc(((100% - 720px) / 2));
    min-height: 2473px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 711px;
  }

  .u-section-1 .u-image-1 {
    height: 525px;
    width: 352px;
  }

  .u-section-1 .u-image-2 {
    min-height: 376px;
  }

  .u-section-1 .u-image-3 {
    width: 352px;
    height: 450px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1690px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3868px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 3311px;
    margin-left: calc(((100% - 540px) / 2));
    min-height: 2557px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-image-2 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 884px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1268px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2522px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 340px;
    margin-top: 2974px;
    margin-left: calc(((100% - 340px) / 2));
    min-height: 1062px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    height: 507px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 502px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 435px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 798px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 480px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 722px;
}

.u-section-2 .u-gallery-1 {
  height: 722px;
  width: 609px;
  margin: 17px auto 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 68px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 68px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 68px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 68px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 68px;
    height: 68px;
  }
}