 .u-section-1 {
  min-height: 806px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 806px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 97px;
}

.u-section-1 .u-image-1 {
  width: 154px;
  height: 139px;
  margin: 70px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 83px 0 -63px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 806px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 222px;
  padding-right: 97px;
}

.u-section-1 .u-text-2 {
  margin: 664px 0 65px;
}

.u-section-1 .u-image-2 {
  width: 309px;
  height: 309px;
  background-image: url("images/pexelsphoto1081685.jpeg");
  background-position: 50% 50%;
  margin: -786px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 816px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 816px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 80px;
  }

  .u-section-1 .u-image-1 {
    width: 127px;
    margin-top: 74px;
    margin-left: 82px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 816px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 126px;
    padding-right: 63px;
  }

  .u-section-1 .u-text-2 {
    font-style: italic;
    width: auto;
    margin-top: 668px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-image-2 {
    width: 519px;
    height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 61px;
  }

  .u-section-1 .u-image-1 {
    width: 97px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 41px;
  }

  .u-section-1 .u-image-2 {
    width: 533px;
    height: 533px;
    margin-top: -683px;
    margin-bottom: 150px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 93px;
  }

  .u-section-1 .u-image-1 {
    width: 137px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: 62px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 254px;
    padding-right: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 293px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 497px;
    height: 497px;
    margin-top: -646px;
    margin-bottom: 149px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 987px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 59px;
  }

  .u-section-1 .u-image-1 {
    width: 77px;
    margin-top: 74px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -19px;
    margin-right: 48px;
    margin-bottom: 317px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 125px;
    padding-right: 59px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 201px;
  }

  .u-section-1 .u-image-2 {
    width: 368px;
    height: 368px;
    margin-top: -608px;
    margin-bottom: 240px;
  }
} .u-section-2 {
  min-height: 785px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/pexelsphoto1438275.jpeg");
  min-height: 785px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  background-image: url("images/pexelsphoto1679011.jpeg");
  min-height: 785px;
  background-position: 50% 50%;
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 453px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -76px auto 76px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 453px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 17px;
  padding-right: 17px;
}

.u-section-3 .u-text-1 {
  margin: 125px 0 23px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 453px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 13px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 125px 20px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 29px auto 32px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -269px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 12px;
    padding-left: 29px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-bottom: 0;
    font-weight: 400;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    font-style: normal;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -163px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 19px;
    padding-left: 19px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 300;
    margin-top: 106px;
    width: 322px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 106px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 38px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -269px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 45px;
    padding-left: 45px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 79px;
    margin-bottom: 30px;
    width: 450px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 45px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 75px;
    margin-right: 45px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 45px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -146px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 125px;
    margin-bottom: 0;
    width: 312px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-right: 22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 22px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 543px;
}

.u-section-4 .u-image-1 {
  width: 438px;
  height: 438px;
  object-position: 73.82% 100%;
  background-position: 50% 50%;
  background-image: url("images/pexelsphoto709848.jpeg");
  margin: 53px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: -307px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 177px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-4 .u-text-1 {
  margin: 18px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 177px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 12px;
  padding-right: 28px;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 59px auto 55px 496px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-image-1 {
    width: 361px;
    height: 361px;
    object-position: 73.82% 50%;
    background-position: 73.82% 50%;
    margin-top: 46px;
    margin-right: 276px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -283px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 45px;
    font-style: normal;
  }

  .u-section-4 .u-btn-1 {
    margin: 16px 382px 0 auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 213px;
    z-index: 2;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 300;
    margin-top: 18px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 213px;
    z-index: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-4 .u-image-1 {
    width: 338px;
    height: 338px;
    margin-top: 98px;
    margin-left: 98px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -389px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 63px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -71px;
    margin-bottom: 89px;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-4 .u-image-1 {
    width: 284px;
    height: 284px;
    margin-top: 173px;
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-bottom: 40px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -133px;
    margin-bottom: 92px;
    margin-left: 11px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 604px;
}

.u-section-5 .u-group-1 {
  width: 660px;
  min-height: 212px;
  margin: 32px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 310px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 20px 30px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 310px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 20px 30px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 310px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 544px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    font-size: 3rem;
    font-weight: 400;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    font-style: normal;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 38px;
    position: relative;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-5 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 417px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    height: 40px;
    width: 40px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    text-transform: none;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-5 .u-group-1 {
    width: 391px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 348px;
    margin: 12px auto 10px 96px;
  }

  .u-section-5 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-5 {
    text-transform: uppercase;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-5 .u-group-1 {
    width: 328px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
    text-transform: none;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 602px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 76px auto 76px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-image-1 {
  width: 328px;
  height: 378px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  margin: -120px auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: 30px 20px 45px 0;
}

.u-section-6 .u-image-2 {
  background-image: url("images/pexelsphoto952212.jpeg");
  min-height: 450px;
  background-position: 56.36% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 132px;
  padding-right: 19px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 450px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 32px;
  padding-right: 20px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 105px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 506px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 270px;
    margin-top: -108px;
  }

  .u-section-6 .u-text-1 {
    font-weight: 300;
    position: relative;
    font-size: 2.25rem;
    margin: 68px 18px 50px;
  }

  .u-section-6 .u-image-2 {
    min-height: 506px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 506px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 0;
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 622px;
  }

  .u-section-6 .u-image-1 {
    height: 303px;
    width: 210px;
    margin-top: 78px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin: 30px 8px 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 622px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 101px;
    padding-right: 15px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 622px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-6 .u-image-1 {
    width: 361px;
    height: 355px;
    margin-top: -41px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin: 11px 11px 25px;
  }

  .u-section-6 .u-image-2 {
    min-height: 428px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 11px;
    padding-left: 109px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 428px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 11px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-image-1 {
    width: 314px;
    height: 378px;
    margin-top: -42px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin: 30px 0 45px;
  }

  .u-section-6 .u-image-2 {
    min-height: 506px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 52px;
    margin-bottom: 50px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 778px;
}

.u-section-7 .u-image-1 {
  width: 571px;
  height: 571px;
  object-position: 73.82% 50%;
  background-position: 50% 50%;
  background-image: url("images/pexelsphoto963486.jpeg");
  margin: 104px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: -582px auto 80px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-7 .u-container-layout-1 {
  padding-right: 22px;
  padding-left: 22px;
}

.u-section-7 .u-text-1 {
  margin: 166px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 592px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-7 .u-image-2 {
  width: 550px;
  height: 409px;
  object-position: 40.91% 50%;
  background-position: 40.91% 50%;
  margin: -134px 0 0 auto;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 43px 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 43px auto 37px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-7 .u-image-1 {
    width: 471px;
    height: 471px;
    margin-top: 64px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -535px;
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 12px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 60px 18px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-7 .u-image-2 {
    width: 394px;
    height: 336px;
    margin-top: -61px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    font-style: normal;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-7 .u-image-1 {
    width: 361px;
    height: 361px;
    margin-top: 214px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 68px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 690px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 15px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 690px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-7 .u-image-1 {
    width: 338px;
    height: 338px;
    margin-top: 155px;
    margin-left: 101px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -468px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-7 .u-image-1 {
    width: 284px;
    height: 284px;
    margin-top: 125px;
    margin-left: 28px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -381px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 6px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 477px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-8 .u-form-1 {
  height: 305px;
  margin: 96px 65px 50px 112px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.u-section-8 .u-image-1 {
  min-height: 477px;
  background-image: url("images/pexelsphoto3561471.png");
  background-position: 100% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 65px;
  padding-right: 101px;
}

.u-section-8 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 22px;
  min-height: 16px;
  width: 150px;
  min-width: 120px;
  margin: 31px 1px 50px auto;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-8 .u-form-1 {
    height: 309px;
    width: 437px;
    margin: 50px auto 40px;
  }

  .u-section-8 .u-btn-1 {
    border-style: solid;
  }

  .u-section-8 .u-image-1 {
    min-height: 412px;
    background-position: 50% 50%;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 27px;
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    font-weight: 400;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-form-1 {
    width: 335px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 21px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-form-1 {
    width: 500px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-social-icons-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    height: 305px;
    width: 337px;
  }

  .u-section-8 .u-image-1 {
    min-height: 420px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 57px;
    padding-left: 71px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 110px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}